@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

nav a#selected {
	color: deepskyblue;
	font-weight: bold;
}

nav.navegacion a:hover {
	color:deepskyblue;
}

body.index,
nav.navegacion a {
	text-decoration-line: none;
	color: white;
	font-family: monospace;
}

nav.subnavegacion {
	margin-top: 30px;
}

nav.subnavegacion a:hover {
	color:lightseagreen
}

nav.subnavegacion a {
	text-decoration-line: none;
	color: white;
	font-family: monospace;
}

nav a#selectedSubmenu {
	color: lightseagreen;
	font-weight: bold;
}

#logoHeader {
	width: 80px;
}

#logoFooter {
	width: 30px;
}

#imagenClip {
	width: 400px;
	border-radius: 5px;
	clip-path: ellipse(35% 40% at 50% 50%);	
}

#salonClip {
	width: 380px;
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

#spaClip {
	width: 260px;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

body.index {
	min-height: 100%;
	width: 70%;
	margin: auto;
	background-image: url('../images/background.webp');
	background-size:cover;
	display:table;
}

body#otherPage {
	background-image: url('../images/background2.webp');
	position: relative;
}

header.index {
	height: 20px;
	margin-top: 25px;
}

header.submenu {
	height: 10px;
	margin-top: 0px;
}

div.contenido {
	min-height: calc(100% - 200px);
	position: relative;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	font-family: monospace;
	line-height: 110%;
}

div.contenedorImagen {
	position: static;
	width: 20%;
	margin: auto;
	margin-right: 30px;
}

div.contenido h1{
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 170%;
	padding-top: 10px;
	color:deepskyblue;
}

div.contenido h2 {
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 140%;
	padding-top: 10px;
	color:lightseagreen;
}

div.contenido p {
	line-height: 170%;
	font-size: 13px;
	text-align: justify;
}

div.contenido li {
	list-style-type: square;
	margin-top: 8px;
	text-align: justify;
	font-size: 12px;
}

div.contenido ul {
	padding-bottom: 25px;
}

div.imagenPagina {
	width: 800px;
	height: 500px;
	display: flex;
}

div.imagenPagina img {
	width: 100%;
	height: auto;
}

div.contadorPersonas {
	margin-top: 2%;
}

a.enlaceDetalle {
	font-family: monospace;
	font-size: 13px;
	color:white;
}

a.enlaceDetalle:link:hover{
	color:aqua;
}

a.enlaceDetalle:visited:hover{
	color:aqua;
}

label#visitantes {
	color: aqua;
	font-family: monospace;
	font-weight: bold;
	font-size: 120%;
}

/************************************************************* 	
	GRID DE IMÁGENES FLEXIBLE para la página de PRESENTACIÓN
*************************************************************/

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 70%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

/********************************  	
	FRAME PARA VIDEO YOUTUBE y Caption
*********************************/

div.contenido iframe {
	width: 100%;
	height: 400px;
	display: block;
	margin: 0 auto;
	margin-top: 64px;
}

div.contenido figcaption.caption-label {
	margin-top: 10px;
	margin-bottom: 8%;
	font-size: 8pt;
	text-align: center;
}


/********************************  	
	LOGO DE LA WEB 
*********************************/

div.logoWeb {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

div.logoWeb img {
	vertical-align: middle;
	width: 140px;
	height: 140px;
}

div.logoWeb span {
	font-size: 7em;
	vertical-align: middle;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

div.logoWeb p {
	font-size: 1.3em;
	font-family: monospace;
	margin-top: auto;
	padding-top: 10px;
}

/********************************  	
	BLOCKQUOTES
*********************************/

.opinion{
  font-size: 1.2em;
  width:80%;
  margin:50px auto;
  font-family:monospace;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid lightseagreen ;
  line-height:1.6;
  position: relative;
  background: rgb(196, 211, 212);
}

.opinion::before{
  font-family:Arial;
  content: "\201C";
  color:lightseagreen;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.opinion::after{
  content: '';
}

.opinion span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/********************************  	
	BUTTON LIKE (Funcionalidad JavaScript)
*********************************/

.divBoton {
	position: absolute;
	margin: auto;
}

.botonLike {
	padding: 10px 15px;
	background: lightseagreen;
	margin-top: 50%;
	font-size: 18px;
	border-radius: 10px;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	transition: .1s ease;
}

.botonLike:hover{
	background:lightskyblue;
	border: solid 3px lightskyblue;
}


/********************************  	
	FOOTER
*********************************/

footer.footer {
	color: white;
	padding-bottom: 45px;
	height: 50px;
}

div.footer {
	margin: auto;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 45px;
	bottom: 0;
	position: absolute;
}

body::after {
	content: '';
	display: block;
	height: 50px; /* Set same as footer's height */
}

footer p {
	font-size: 12px;
}

/********************************  	
	ANIMACION DE LA ESTRELLA SVG
*********************************/


.estrellaSVG {
	width: 50px;
	animation-name: star;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

@keyframes star {
	to {
		zoom:10%;
		opacity:0;
	}
	from{
		zoom:100%;
		opacity:1;
	}
}


/********************************  	
	RESPONSIVE
*********************************/

@media only screen and (max-width: 767px) {

	/*********** 	
	Portada
	************/

	body.index {
		min-height: 100%;
		width: 100%;
		height: 100%;
		margin: auto;
		padding-left: 30px;
		background-image: url('../images/background.webp');
		background-size:auto;
		display:table;
	}

	header.index {
		height: 5px;
		margin-top: 10px;
		width: 430px;
	}

	div.contadorPersonas {
		margin-top: 2%;
		padding-left: 30px;
	}

	div.contenedorImagen {
		position: static;
		width: 20%;
		margin: auto;
		margin-right: 30px;
	}

	#imagenClip {
		padding-top: 150px;
		width: 200px;
		border-radius: 5px;
		clip-path: ellipse(40% 40% at 50% 50%);
	}

	.divBoton {
		position: absolute;
		margin: auto;
	}

	div.logoWeb {
		top: 50%;
		position: absolute;
		transform: translateY(-70%);
	}
	
	div.logoWeb img {
		vertical-align: middle;
		width: 90px;
		height: 90px;
	}
	
	div.logoWeb span {
		font-size: 3em;
		vertical-align: middle;
		font-weight: bold;
		font-family: 'Inter', sans-serif;
	}
	
	div.logoWeb p {
		font-size: 1.1em;
		font-family: monospace;
		margin-top: auto;
		padding-top: 10px;
	}

	/*********** 	
	Sitios de interés
	************/

	#salonClip {
		width: 200px;
		clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
	}
	
	#spaClip {
		width: 150px;
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	}

	div.imagenPagina {
		width: 360px;
		height: 250px;
		display: flex;
	}

	div.contenido {
		min-height: calc(100% - 200px);
		position: relative;
		width: 90%;
		margin: auto;
		text-align: center;
		margin-top: 50px;
		font-family: monospace;
		line-height: 110%;
	}

}

